.our-clients_container {
  margin-top: 5.754vw;

  h3 {
    color: #152e3d;
    font-family: Quicksand;
    font-size: 1.85vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
  }
  .clients-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.85vw;
    .clients-logo_image {
      padding: 0 0.66vw;
      img {
        width: 37.17vw;
        height: 6.217vw;
        flex-shrink: 0;
      }
    }
  }
  .separate {
    display: flex;
    justify-content: center;
    .line {
      width: 72.02vw;
      height: 0.13vw;
      background: #58b59f;
      text-align: center;
    }
  }
  @media (max-width: 767px) {
    margin-top: 21.3vw;
    h3 {
      font-size: 7.46vw;
    }
    .clients-logos {
      display: block;
      text-align: center;
      .clients-logo_image {
        img {
          width: 92vw;
          height: 15.46vw;
        }
      }
    }
    .separate {
      margin-top: 10vw;
      .line {
        width: 82.13vw;
        height: 0.533vw
      }
    }
    
  }
}
