.our-clients_container {
  margin-top: 1.85vw;

  h3 {
    color: #152e3d;
    font-family: Quicksand;
    font-size: 1.85vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
  }
  .clients-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.85vw;
    .clients-logo_image {
      padding: 0 0.66vw;
      img {
        width: 37.17vw;
        height: 6.217vw;
        flex-shrink: 0;
      }
    }
  }
  .separate {
    display: flex;
    justify-content: center;
    .line {
      width: 72.02vw;
      height: 0.13vw;
      background: #58b59f;
      text-align: center;
    }
  }
}
