.our-team_container {
    background: linear-gradient(90deg, #152E3D 0.02%, #3C8171 99.98%);
    height: 21.36vw;
    margin-top: 4.76vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}