.services-menu_container {
  margin-top: 3.288vw;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .menu-item {
    padding: 0 3.04vw 0.66vw;
    border-bottom: solid 0.13vw #58b59f;
    .menu-image {
      height: 3.24vw;
      align-items: center;
      text-align: center;
      img {
        height: 3.24vw;
      }
    }
    p {
      color: rgba(114, 114, 114, 0.8);
      font-family: Quicksand;
      font-size: 1.19vw;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      text-align: center;
      margin-top: 0.96vw;
    }
  }
  @media (max-width: 767px) {
    margin-top: 8vw;
    .menu-item {
      padding: 0 5vw 2vw;
      border-bottom: solid 0.13vw #58b59f;
      .menu-image {
        display: none;
      }
      
      p {
        font-size: 14px;
        margin-top: 0.96vw;
      }
    }
    .delete-in-mobile {
      display: none;
    }
  }
}
