.slide-service_container {
  margin-top: 3.87vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media (max-width: 991px) {
    flex-direction: column;
    justify-content: center;
  }

  .image-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.65vw;
    .screens {
      @media (max-width: 991px) {
        flex-direction: column;
        text-align: center;
        img {
          width: 81.86vw;
        }
      }
    }
    .imageslide {
      width: 33.135vw;
    }
    img {
      width: 4.7vw;
    }
    .dots {
      text-align: center;
    }
    @media (max-width: 991px) {
      .dots {
        img {
          width: 18.9vw;
        }
      }
    }
  }
  .info-slide {
    padding: 0 1.65vw;
    h3 {
      color: #152e3d;
      font-family: Quicksand;
      font-size: 1.45vw;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      margin-bottom: 1.32vw;
      margin-top: 0.727vw;
      text-align: start;
    }
    .text-contact {
      p {
        width: 32.14vw;
        color: #898989;
        font-family: Quicksand;
        font-size: 1.06vw;
        font-style: normal;
        font-weight: 500;
        line-height: 1.45vw; /* 137.5% */
        text-transform: capitalize;
      }
      .whatsapp-button {
        background-color: #3c8171;
        border-radius: 0.5vw;
        color: white;
        font-size: 1.06vw;
        display: flex;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        align-items: center;
        padding: 0.5vw 1.5vw;
        margin-top: 2.97vw;
        width: 17.06vw;
        justify-content: center;
        label {
          text-align: center;
        }
        img {
          width: 1.7vw;
          vertical-align: middle;
          padding-top: 0.6vw;
          margin-left: 1.256vw;
        }
      }
    }
    @media (max-width: 991px) {
      margin-top: 10vw;
      padding: 0 0;
      h3 {
        font-size: 5.86vw;
        margin: 0 0 0 8.53vw;
      }
      .text-contact {
        
       
        p {
          font-size: 4.26vw;
          line-height: 6vw; /* 137.5% */
          text-transform: capitalize;
          width: 84.53vw;
          padding: 0;
          margin: 4.8vw 0 0 8.53vw;
        }
        .whatsapp-button {
          width: 68.8vw;
          height: 14.66vw;
          border-radius: 2.13vw;
          margin: 50px 15.6vw;
          label {
            font-size: 4.8vw;
          }
          img {
            width: 7.466vw;
            padding-top: 2.66vw;
          }
        }
      }
     
    }
  }
}
