.team-list_container {
  display: flex;
  flex-direction: row;
  padding: 0 2.05vw;
  .team-list_image {
    margin-top: 10.45vw;
    img {
      width: 13.09vw;
      height: 13.09vw;
      flex-shrink: 0;
    }
  }
  .image1 {
    margin-right: -0.793vw;
  }
  .image2 {
    margin-left: -0.793vw;
  }
  .roll-list {
    margin-top: 3.9vw;
    li {
      color: #fafafa;
      text-align: center;
      font-family: Quicksand;
      font-size: 1.19vw;
      font-style: normal;
      font-weight: 500;
      line-height: 1.98vw; /* 166.667% */
    }
    p {
      margin-top: 0.992vw;
      color: #92ffe6;
      text-align: center;
      font-family: Quicksand;
      font-size: 1.587vw;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
    }
  }
  @media (max-width: 767px) {
    justify-content: space-around;
    margin-top: 13.3vw;
    .team-list_image {
      margin-top: 13.3vw;
      position: absolute;
      top: 120vw;

      img {
        width: 38vw;
        height: 38vw;
        flex-shrink: 0;
        overflow: hidden;
      }
    }
    .image1 {
      left: 0vw;
    }
    .image2 {
      right: 0vw;
      overflow: hidden;
    }
    .roll-list {
      width: 100vw;
      li {
        font-size: 4.8vw;
        line-height: 8vw; /* 166.667% */
      }
      p {
        padding-top: 3vw;
        font-size: 5.866vw;
      }
    }
  }
}
