.navbar_items {
  display: flex;
  flex-direction: row;
  justify-content: center;

  li {
    color: #fff;
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    padding: 0 15px;
  }
}
