.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.84vw;
  h3 {
    height: 2.84vw;
    text-align: center;
    color: #fff;
    font-family: Quicksand;
    font-size: 1.78vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.286vw;
    text-transform: uppercase;
  }
  h2 {
    color: #fff;
    text-align: center;
    text-shadow: 0px 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
    font-family: Sulphur Point;
    font-size: 5.29vw;
    font-style: normal;
    font-weight: 700;
    line-height: 4.62vw; /* 87.5% */
    letter-spacing: 0.106vw;
  }
  .slider-arrows {
    text-align: center;
    display: flex;
    justify-content: space-between;
    img {
      margin: 0 7.54vw;
    }
  }
  .slider-collage {
    .id {
      width: 13vw;
      position: absolute;
      top: 33.068vw;
      left: 14.35vw;
    }
    .camera {
      width: 8.01vw;
      position: absolute;
      top: 24.57vw;
      left: 27.11vw;
      transform: rotate(9.39deg);
    }
    .keys {
      height: 9.93vw;
      position: absolute;
      top: 34.52vw;
      left: 29.29vw;
    }
    .hat {
      width: 23.61vw;
      position: absolute;
      top: 22.62vw;
      left: 37.7vw;
    }
    .pencil {
      height: 8.98vw;
      position: absolute;
      top: 35.64vw;
      left: 45.5vw;
    }
    .buffer {
      width: 9.49vw;
      position: absolute;
      top: 25.26vw;
      left: 63.7vw;
      transform: scalex(-1) rotate(-9.39deg);
    }
    .layer {
      width: 9.9vw;
      position: absolute;
      top: 34.52vw;
      left: 56.41vw;
    }
    .map {
      width: 9.82vw;
      height: 11.82vw;
      position: absolute;
      top: 29.1vw;
      left: 73.47vw;
    }
  }
}
